{% extends "template.twig" %}

{% block title %}{{ comic.title }}{% endblock %}

{% block head %}

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@mangaokiba" />
    <meta name="twitter:creator" content="@{{ comic.twitter }}" />
    <meta property="og:url" content="https://manga.okiba.jp/comic/{{ comic.id }}" />
    <meta property="og:title" content="{{ comic.title }} / {{ comic.author }}" />
    <meta property="og:description" content="{{ comic.comment }}" />
    {% if topImage %}
    <meta property="og:image" content="https://manga.okiba.jp/{{ imageDir }}/{{ topImage }}" />
    {% endif %}

    <style>
        table.chapters,
        table.chapters td
        {
            border: 0;
        }

        div.intro {
            line-height: 1.4rem;
        }

        p.chapter {
            font-weight: bold;
            margin: 2em 0 1em 0;
        }

        div.latest-section {
            margin: 2em 0;
        }

        .ad-right-side {
            display: none;
        }
        @media screen and (min-width: 960px) {
            .ad-right-side {
                display:block;
                position: fixed;
                top: 0;
                right:0;
                width:120px;
            }
        }
        @media screen and (min-width: 1280px) {
            .ad-right-side {
                width:200px;
            }
        }

    </style>
{% endblock %}

{% block body_class %}comic center{% endblock %}

{% block content %}

    <div class="comic">
        <h2>{{ comic.title }}</h2>

        <p>
            作：{{ comic.author }}
            {% if comic.url %}
                <a href="{{ comic.url }}" target="_blank">[作者ホームページ]</a>
            {% endif %}
            {% if comic.twitter %}
                <a href="https://twitter.com/{{ comic.twitter }}" target="_blank"><img src="/img/twitter_icon_s_40_40.png" style="width:24px; height:24px;"></a>
            {% endif %}
            {% if comic.pixiv %}
                {% if comic.pixiv|is_numeric %}
                    <a href="https://www.pixiv.net/users/{{ comic.pixiv }}" target="_blank"><img src="/img/pixiv_icon_s_40_40.png" style="width:24px; height:24px;"></a>
                {% else %}
                    <a href="https://pixiv.me/{{ comic.pixiv }}" target="_blank"><img src="/img/pixiv_icon_s_40_40.png" style="width:24px; height:24px;"></a>
                {% endif %}
            {% endif %}

        </p>

        {% if topImage %}
            <p><img class="comicImage" src="{{ imageDir }}/{{ topImage }}"></p>
        {% endif %}

        {% if comic.intro %}
            <div class="intro">{{ comic.intro|sanitize|url2link|raw|nl2br }}</div>
        {% endif %}

        {% if latestSection %}
            <div class="latest-section">
                <p>
                    <a href="/comic/{{ comic.id }}/{{ latestSection.id }}">
                    最新更新 :
                    {{ latestSection.title|default('無題') }}
                    ({{ latestSection.update_at }})
                    </a>
                </p>
            </div>
        {% endif %}

        {% if chapters %}
        <table class="chapters">
            <tbody>
            <tr>
                <td>
                    {% for chapter in chapters %}

                        {% if chapter.title %}
                        <p class="chapter">{{ chapter.title|default }}</p>
                        {% elseif chapters|length > 1 %}
                        {% endif %}

                        {% for section in chapter.sections %}
                            <p class="section">
                                <a href="/comic/{{ comic.id }}/{{ section.id }}">
                                    {{ section.title|default('まとめて読む') }}
                                    （{{ section.page_count }}P）
                                </a>
                            </p>
                        {% endfor %}
                    {% endfor %}
                    {% if unCompiledPageCount %}
                    <p class="section">
                        <a href="/comic/{{ comic.id }}/0">
                            無題（{{ unCompiledPageCount }}P）</a>
                    </p>
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        {% else %}
            {% if unCompiledPageCount %}
            <p class="section">
                <a href="/comic/{{ comic.id }}/0">
                    無題（{{ unCompiledPageCount }}P）</a>
            </p>
            {% endif %}
        {% endif %}

        {% if comic.comment %}
            <hr>
            <p>作者コメント：</p>
            <p>{{ comic.comment|sanitize|url2link|raw|nl2br }}</p>
        {% endif %}

    </div>

    {% if comic.neetsha_id %}
        <div class="comment">
            <p>
                {% if comic.url %}
                    <a href="{{ comic.url }}" target="_blank">{{ comic.author }}</a>
                {% else %}
                    {{ comic.author }}
                {% endif %}
                先生に励ましのお便りを送ろう！！
            </p>
            <script type="text/javascript">
                <!--
                var comicid = {{ comic.neetsha_id }};
                -->
            </script>
            <script type="text/javascript" charset="utf-8" src="https://neetsha.jp/addon/add_menu.js"></script>
            <form action="https://neetsha.jp/inside/comment.php" method="post" class="post" utn>
                <input type="hidden" name="methodid" value="1" />
                <input type="hidden" name="id" value="{{ comic.neetsha_id }}" />
                <input type="hidden" name="enc" value="0" />
                <textarea style="width:80%; height:4em;" maxlength="256" name="comment" placeholder="ここに感想を書いてください。"></textarea>
                <p>
                    <label>
                        <input type="checkbox" name="sage" value="1" />sage
                    </label>
                    <input type="submit" name="submit" value="感想を書く" />
                </p>
            </form>
            <p>
                <a href="https://neetsha.jp/inside/comment.php?id={{ comic.neetsha_id }}">〒みんなの感想を読む</a>
            </p>
        </div>

    {% else %}

        {% include "comment/comment_form.twig" %}

    {% endif %}

    <div>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

    {% if not comic.neetsha_id %}
        {% if comic.wide_parts %}
            {{ comic.wide_parts|raw }}
        {% elseif author.dlsite_wide_parts %}
            {{ author.dlsite_wide_parts|raw }}
        {% elseif author.dlsite_affiliate_id %}
            {% include('ad/dlsite/allage_long.twig') %}
        {% endif %}
    {% endif %}


    <p class="footer-links">
        <a href="/edit?id={{ comic.id }}">この作品を編集する</a>
    </p>

    {% if comic.embed_script %}
        {{ comic.embed_script|raw }}
    {% endif %}

    {% if not comic.neetsha_id %}
        <div class="ad-right-side">
            {#{% if asins %}#}
                {#{% for asin in asins %}#}
                    {#<iframe#}
                            {#style="width:120px;height:240px;"#}
                            {#marginwidth="0" marginheight="0" scrolling="no" frameborder="0"#}
                            {#src="//rcm-fe.amazon-adsystem.com/e/cm?lt1=_blank&bc1=000000&IS2=1&bg1=FFFFFF&fc1=000000&lc1=0000FF&t={{ author.amazon_affiliate_id|default('majusdiary-22') }}&language=ja_JP&o=9&p=8&l=as4&m=amazon&f=ifr&ref=as_ss_li_til&asins={{ asin.asin }}"></iframe><br>#}
                {#{% endfor %}#}
            {#{% endif %}#}
            {% if comic.side_parts %}
                {{ comic.side_parts|raw }}
            {% elseif author.dlsite_side_parts %}
                {{ author.dlsite_side_parts|raw }}
            {% elseif author.dlsite_affiliate_id %}
                {% include('ad/dlsite/allage_right_side.twig') %}
            {% endif %}
        </div>
    {% endif %}

{% endblock %}
